@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="offset-md-4 col-md-8">
        <div class="content-block">
            <p class="bigger">Welcome to</p>
            <h1>Contoso University</h1>

            <p>Universitato estas institucio de instruado kaj esploro, kiu koncedas akademian diplomon en ĉiuj niveloj (bakalaŭro, licenciulo, kaj doktoro) en pluraj temoj. Universitato provizas ambaŭ terciaran instruon kaj kvaternaran instruon.</p>

            <p>Laŭ Francisko Azorín universitato estas Plej alta lerneja institucio por instrui diversajn branĉojn de la scio (fakultatoj). Li indikas etimologion el la latina universitas, el unu + versas (unu diversa).</p>
            <a class="btn btn-outline-primary" asp-area="" asp-controller="Students" asp-action="Index">Enroll</a>
            <a class="btn btn-outline-primary" asp-area="" asp-controller="Courses" asp-action="Index">Browse Courses</a>
            <a class="btn btn-outline-primary" asp-area="" asp-controller="Instructors" asp-action="Index">Meet Instructors</a>

        </div>
    </div>
</div>


